.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}


.container {
    padding: 70px;
    width: 90%;
}